/* Стили для всего, что не относится к медиа запросам */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    font-family: 'Roboto Serif', serif;
}

.page {
    height: 100%;
    position: relative;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header__h1{
    font-family: 'Roboto Serif', serif;
    font-size: 42px;
    font-weight: 700;
    margin: 64px 0 10px 0;
    color: #423A3A;
}


.section {
    overflow: hidden;
}
 
.steps-wrapper {
    width: 60%;
    margin: 0 auto;
    margin-top: 21px;
}

.steps {
    display: flex;
}

.steps__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: #AED9FF;
    border-radius: 50%;
    color: white;
    font-family: 'Roboto Serif', serif;
    font-size: 24px;
    font-weight: 700;
}

.steps__circle--pink {
    background: #FC4483;
}

.steps__circle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps__text {
    font-family: 'Roboto Serif', serif;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0; 
}

.steps__step {
    position: relative;
    flex: 1;
}

.steps__line {
    position: absolute;
    width: 100%;
    height: 3px;
    left: calc(50% + 17.5px);
    top: 17.5px;
    transform: translateY(-50%);
    background: #AED9FF;
}

.text {
    text-align: center;
}

/* header end */

/* form */

.content{
    width: 90%;
    box-sizing: border-box;
    margin: 40px auto;
}


.content__form{
    
    position: relative;
}

.content__input{
    width: 100%;
    padding: 15px;
    border-radius: 7px;
    box-sizing: border-box;
}

.content__form-select {
    position: absolute;
    margin-top: 20px;
    width: 100%;
}

.content__form-select-item {
    background: #F9FCFF;
    padding: 16.5px 25px 16.5px 15px;
    font-size: 16px;
    border: 1px solid #423A3A;
    border-radius: 7px;
    margin-bottom: 10px;
}

/* images */
section{
    box-sizing: border-box;
}


.section__content {
   display: flex;
   justify-content: center;
}

.section__content-center {
    width: 90%;
    margin: 0 auto;
}



.section__box {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: #e8f4ff;
   margin-right: 20px;
   border-radius: 7px;
   padding: 0 25px; 
   padding-top: 16.5px;
   padding-bottom: 16.5px;
}


.section__box:last-child {
    margin-right: 0;
}

.images__section {
    margin-bottom: 9px;
}

.section__p {
    margin: 0;
}

.section__box:hover{
   background-color: #0187fc;
   color: white;
}

.section__p{
    text-align: center;
    font-size: 13px;
}


.images__section {
    width: 60px;
    height: 57px;
}

/*grid */
.container{
    box-sizing: border-box;
    margin-top: 20px;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}    

.grid__box{
    background-color: #e8f4ff;
    padding: 15px 0;
    border-radius: 7px;
}

.grid__text {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

.grid__text-1 {
    width: 8em;
}

.grid__text-p {
   font-family: Roboto sans-serif; 
   font-size: 15px;
   color: #445666;
   font-weight: 600;
}

.grid__text__p-s {
    display: flex;
}

.text__p-s {
   color: #666666;
   margin: 0 4px; 
}

.text__p-1 {
    font-family: Roboto sans-serif;
    color: #423a3a;
    font-weight: 600;
    font-size: 15px;
}

.text__p-2 {
    font-family: Roboto snas-serif;
    font-weight: 400; 
    font-size: 12px;
    color: #666666;
    margin: 3px 0;
}

.grid__text-icon {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 20px 0 20px;
}

.grid__text-icon-1 {
    flex: .9;
}

.text__icon-p {
    font-family: Roboto snas-serif;
    font-weight: 400;
    font-size: 12px;
    color: #666666;
}

.grid__icon {
    margin-left: 105px;
    position: relative;
}

.icon-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* footer*/
footer{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.footer__wrapper {
    text-align: center;
}

.footer__p {
    text-align: center;
    margin: 17px 0;
    font-weight: 700;
    font-size: 16px;
    color: #0187FC;
}

.footer__text {
    flex: .8;
}


.footer-text__icons {
    width: 90%;
    height: 64px;
    border: 1px solid rgba(68, 86, 102, 0.45);
    margin-bottom: 20px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}



.footer-text__p {
    font-family: 'Roboto Serif', serif;
    font-weight: 400;
    font-size: 16px;
}

.footer__span {
    color: #0187FC;
}

.footer__btn {
    margin: 20px 0 0 0;
}

.footer__button{
    width: 182px;
    height: 40px;
    border-radius: 7px;
    border: 0;
    padding: 10px 20xp;
    background: #0187FC;
    color: white;
}

.footer-wrapper__p {
    margin-top: 11px;
    margin-bottom: 74px;
    font-family: 'Roboto Serif', serif;
    font-weight: 300;
    font-size: 14px;
    color: #666666;
}

/* Desktop */
@media screen and (min-width: 1024px) and (max-width: 1400px) {
    .content__form {
        width: 100%;
        margin: 0 auto;
    }

    .content__form-select {
        width: 100%;
        margin: 0 auto;
    }

    .section__content {
        width: 100%;
        margin-top: 10px;
     }

     .wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1024px) {

    .section__content {
        min-width: 100%;
        overflow-x: auto;
    }
    
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }

    
}

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 660px) {
       
    .steps__text {
        font-size: 15px;
    }

    .section__content {
        min-width: 100%;
        overflow-x: auto;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }
}